@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

#header {
	display: block;
	background-image: url(../img/header-pattern.png), linear-gradient(to right, rgb(166,42,215), rgb(65,131,241)); 
	height: 99rem;

}

.main {
	width: 117rem;
	margin: 0 auto;
	position: relative;

}

.menu {
	/*background: yellow;*/
	position: relative;
	top: 5rem;

}

.logo {
	display: inline;
}

.menu a {
	text-decoration: none;

}

.main-menu {
	position: absolute;
	display: inline-block;
	top: 0.9rem;
	right: 0;

}


.menu-item {
	display: inline-block;
	padding: 1.2rem 2.6rem;
	font-size: 1.8rem;
	letter-spacing: 0.05rem;
	color: #fff;
	text-transform: uppercase;
	margin-left: -0.3rem;
	transition: all 0.1s;

	/*background: red;*/

}

.menu-item:hover {
	background: #a62ad7;
	border-radius: 3rem;
}
.slider {
	margin-top: 14.2rem;
	position: relative;
}

.slider span {
	display: inline-block;
	position: relative;
	left: -3.5rem;
}

.slide-text {
	display: inline-block;
	width: 60rem;
	vertical-align: top;
}

.slide-text h2 {
	margin-top: 10rem;
	margin-bottom: 2rem;
	font-size: 6rem;
	line-height: 1.2;
	color: #fff;
	font-weight: 600;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.35);
}

.slide-text p {
	font-size: 1.6rem;
	color: #fff;
	font-weight: 300;
	line-height: 1.875;
	width: 50rem;
}

.slide-text h3 {
 	font-size: 2.8rem;
 	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 6rem;
}

.slide-text img {
	margin: 3.5rem 3.5rem 3.5rem 0;
}

#features {
	display: block;
	background: url(../img/feature-background.jpg) no-repeat center center;
	background-size: cover;
	padding: 12rem 0;
	color: rgb(59, 67, 77);
	text-align: center;
}

#features h3 {
  font-size: 6rem;
  font-weight: 600;
  padding-bottom: 2.7rem;
}

#features p {
  font-size: 1.6rem;
  line-height: 1.875;
}

.feature-item {
	display: inline-block;
	width: 38rem;
	padding: 10rem 2rem 0rem;
}

.feature-item h4 {
	font-size: 3rem;
	font-weight: 600;
	line-height: 2;
}

#testimonial {
	display: block;
	background: linear-gradient(to right, #699df4, #9f6ee7); 
	padding: 12rem 0;
	color: #fff;
	text-align: center;
}

#testimonial h3 {
  font-size: 6rem;
  font-weight: 400;
  padding-bottom: 2.7rem;
}

#testimonial h4 {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.2;
	text-align: left;
	padding-top: 4rem;
	padding-bottom: 1.5rem;
}

#testimonial p {
  font-size: 1.6rem;
  line-height: 1.875;
  text-align: left;
}

.column-2 {
	display:inline-block;
	width: 50rem;
}

#testimonial img {
	position: relative;
	display: inline-block;
	bottom:-13rem;
}

#screenshots {
	display: block;
	background: url(../img/screenshots-background.jpg) no-repeat center center;
	background-size: cover;
	padding: 12rem 0;
	color: rgb(59, 67, 77);
	text-align: center;
}

#screenshots h3 {
	font-size: 4.8rem;
	font-weight: 400;
	padding-bottom: 2.7rem;
}

.slider-screenshots {
	width: 117rem;
	overflow: hidden;
}

.slider-screenshots img {
	padding: 0 1rem;

